*

!.gitignore
!.classpath
!.project

!*.java
!*.jar
!*.tex
!*.py
!*.mdl
*.slx

!*/

!presentation/*.tex
!presentation/*.bib
!presentation/parts/*
!presentation/fig/*
!presentation/fig/diagrams/*

archive/*
generated/*
results/*
resources/*
bin
PrecomputedLagrange.py

Sim2HIOA/*
Sim2HIOA/automake.sh
Sim2HIOA/readme.txt
Sim2HIOA/manifest.txt
Sim2HIOA/build/*
!Sim2HIOA/src/*
!Sim2HIOA/src/adapter/*
!Sim2HIOA/src/structure/*


/bin/
