*

!.gitignore
!.classpath
!.project

!*.java
!*.jar
!*.tex
!*.py
!*.mdl
*.slx

!*/

generated/*

Sim2HIOA/*
Sim2HIOA/automake.sh
Sim2HIOA/readme.txt
Sim2HIOA/manifest.txt
Sim2HIOA/build/*
!Sim2HIOA/src/*
!Sim2HIOA/src/adapter/*
!Sim2HIOA/src/structure/*
!images/*.png
!default_setup.json
examples/*
!examples/**/*.mdl

/bin/
