*

!.gitignore
!.classpath
!.project

!*.java
!*.jar
!*.tex
!*.py
!*.mdl
*.slx

!*/

presentation/*
!presentation/*.tex
!presentation/*.bib

archive/*
generated/*
results/*
resources/*
bin
PrecomputedLagrange.py

/bin/
